.pageLead__latest__headerContainer{
	position: absolute;
	bottom: 100%;
	width: 100%;
	&__wrapper{
		position: relative;

		&:before{
		position: absolute;
		content: '';
		right: 100%;
		top: 0;
		bottom: 0;
		width: 10000px;
		background: #f8f8f8;
		}
	}

}
.pageLead__latest__header{
	background: #f8f8f8;
	height: 182px;
	max-width: 48.58%;
	vertical-align: bottom;

	position: relative;
	display: inline-block;

	&:before{ //треугольник, который лежит справа от заголовка и формирует угол
		position: absolute;
		content: '';
		top: 0;
		left: 100%;
		margin-top: -2px;
		width: 0;
		height: 0;
		border-bottom: 185px solid #f8f8f8;
		border-right: 69px solid transparent;
	}
	&:after{ //скошенная тень, которая лежит справа от надписи, на треугольнике
		position: absolute;
		content: '';
		right: 0;
		margin-right: -67px;
		top: 0;
		margin-top: -1.5px;
		background-image: url("/img/short-shadow.png");
		background-position: right 0px;
		background-size: auto 100%;
		background-repeat: no-repeat;
		width: 250px;
		height: 333px;
	}
	&__necessaryEvil{
		&:before{ //правая маска на картинку
			position: absolute;
			content: '';
			left: 100%;
			bottom: 0;
			height: 10000px;
			width: 10000px;
			transform: skewX(20.4deg);
			transform-origin: 0 100%;
			background: rgba(50, 25, 40, 0.65);
			margin-left: 68.1px;
		}
		&:after{ //левая маска на картинку
			position: absolute;
			content: '';
			right: 0;
			margin-right: -1.5px;
			bottom: 100%;
			height: 10000px;
			width: 10000px;
			transform: skewX(20.4deg);
			transform-origin: 100% 100%;
			background: rgba(77, 69, 71, 0.85);
		}
	}
	&__text{
		padding-left: 5px;
		padding-right: 68px;
		font-size: calculateRem(36, 18);
		padding-bottom: 19px;
		height: 100%;
		text-align: left;
		z-index: 1;
		position: relative;
		display: flex;
		flex: 0 1 auto;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		&:before{
			position: absolute;
			content: '';
			top: 100%;
			left: 100%;
			margin-left: 68px;
			margin-top: -1px;
			background: url("/img/long-shadow.png") no-repeat;
			background-size: 100% auto;
			width: 1000px;
			height: 240px;
		}
		&__item{
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100%;
			overflow: hidden;
			text-transform: uppercase;
			color: #3b3535;
			font-weight: normal;
			&_marked{
				flex-shrink: 0;
				background-image: url("/img/icon-slash.svg");
				height: 29px;
				width: 18px;
				margin-right: 7px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto 100%;
				/*color: #9a286e; - на случай, если слэши должны быть текстом закоментированные строки нужно добавить вместо всего, что идет после строки "flex-shrink: 0;" и до текущей строки
				padding-left: 1px;
				padding-right: 5px;
				 */
			}
		}
	}
}
.pageLead__latest {
	background: #f8f8f8;
	position: relative;

	&__container {
		display: flex;
		flex: 0 1 auto;
		flex-flow: row wrap;
		align-items: stretch;
		padding-bottom: 23px;
		margin-right: -20px;
		position: relative;
		z-index: 1;
	}
}

