
/*
@font-face {
  font-family: KBG;
  src: local("KGB"), url(/fonts/KGBrokenVesselsSketch.ttf)
}*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
/*
font-family: 'PT Sans', sans-serif;
font-weight: 400;
font-weight: 700;
*/