///vertical-align: middle - добавить в кнопки!
.commonButton{
	display: inline-block;
	border-radius: 4px;
	background-color: rgb(164, 35, 110);
	text-align: center;
	transition: .3s;
	color: white;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
	outline: none;
	border: none;
	&:hover {
		background-color: darken(#A4236E, 5%);
	}
	&:active {
		background-color: darken(#A4236E, 10%);
	}
}